@font-face {
    font-family: "W03";
    src: url("../fonts/ceyy-W03.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FrozenCrystal";
    src: url("../fonts/FrozenCrystal-Z34x.otf");
    font-weight: normal;
    font-style: normal;
}
